{% load static %}
{% load static tailwind_tags %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="en" class="no-scrollbar">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  {% tailwind_css %}
</head>

<body class="flex flex-col select-none bg-background duration-200">
  <div
    class="cursor hidden fixed top-0 z-50 left-0 w-10 h-10 bg-transparent pointer-events-none border-solid border-accent rounded-full border-2 -translate-x-1/2 -translate-y-1/2 ease-bounce duration-200">
  </div>
  <main>
    {% include header %}
    <div class="w-screen h-screen">
      {% include content %}
      {% include footer %}
    </div>
  </main>
  <script src="{% static 'js/cursor.js' %}"></script>
  <script src="{% static 'js/theme.js' %}"></script>
  <script src="{% static 'js/header.js' %}"></script>
  <script src="{% static 'js/scroll.js' %}"></script>
  <script src="{% static 'js/htmx.min.js' %}" defer></script>
  {% django_htmx_script %}
</body>

</html>