{% load svg %}
<header class="fixed top-0 z-10 w-screen bg-backgrund">
  <nav class="flex justify-between items-start h-20">
    <div class="pl-6 w-48 my-auto">
      <a href="{% url 'main:main' %}" class="font-heading text-2xl text-text">
        aldenluth.fi
      </a>
    </div>

    <div class="hidden w-screen tablet:flex justify-center font-body text-sm text-text my-auto">
      <ul class="tablet:grid gap-6 grid-cols-3">
        <li
          class="py-2 px-3 rounded-md bg-buttons-default hover:shadow-lg active:shadow-md hover:bg-buttons-hover active:bg-buttons-active text-buttons-text duration-200 ease-in-out clickable">
          <a href="" tabindex="0">Projects</a>
        </li>
        <li
          class="py-2 px-3 rounded-md bg-buttons-default hover:shadow-lg active:shadow-md hover:bg-buttons-hover active:bg-buttons-active text-buttons-text duration-200 ease-in-out clickable">
          <a href="" tabindex="0">Writings</a>
        </li>
        <li
          class="py-2 px-3 rounded-md bg-buttons-default hover:shadow-lg active:shadow-md hover:bg-buttons-hover active:bg-buttons-active text-buttons-text duration-200 ease-in-out clickable">
          <a href="" tabindex="0">Contacts</a>
        </li>
      </ul>
    </div>

    <div class="flex pr-6 w-48 my-auto justify-end">
      <div class="relative group/lang flex flex-col justify-center items-center delay-100 duration-100 rounded-t-md">
        <a class="p-2 rounded-md bg-transparent hover:bg-card-background duration-100">
          {% svg 'language' %}
        </a>
      </div>

      <div class="relative group/hue flex flex-col justify-center items-center delay-100 duration-100 rounded-t-md">
        <a class="mode-toggle p-2 rounded-t-md delay-100 duration-100 hover:bg-card-background hover:delay-0 hover:shadow-md group-hover/hue:bg-card-background group-hover/hue:delay-0 group-hover/hue:shadow-md" tabindex="0">
          {% svg 'moon' %}
          {% svg 'sun' %}
        </a>

        <div class="hue-selector h-0 fixed top-14 mt-[7px] duration-100 flex flex-col items-center bg-card-background rounded-b-md overflow-auto no-scrollbar shadow-md group-hover/hue:h-58 hover:h-58" tabindex="0">
            <a class="hue-neutral px-2 pb-1 pt-2">{% svg 'hue-neutral' %}</a>
            <a class="hue-red px-2 py-1">{% svg 'hue-red' %}</a>
            <a class="hue-orange px-2 py-1">{% svg 'hue-orange' %}</a>
            <a class="hue-amber px-2 py-1">{% svg 'hue-amber' %}</a>
            <a class="hue-yellow px-2 py-1">{% svg 'hue-yellow' %}</a>
            <a class="hue-lime px-2 py-1">{% svg 'hue-lime' %}</a>
            <a class="hue-green px-2 py-1">{% svg 'hue-green' %}</a>
            <a class="hue-emerald px-2 py-1">{% svg 'hue-emerald' %}</a>
            <a class="hue-teal px-2 py-1">{% svg 'hue-teal' %}</a>
            <a class="hue-cyan px-2 py-1">{% svg 'hue-cyan' %}</a>
            <a class="hue-sky px-2 py-1">{% svg 'hue-sky' %}</a>
            <a class="hue-blue px-2 py-1">{% svg 'hue-blue' %}</a>
            <a class="hue-indigo px-2 py-1">{% svg 'hue-indigo' %}</a>
            <a class="hue-violet px-2 py-1">{% svg 'hue-violet' %}</a>
            <a class="hue-purple px-2 py-1">{% svg 'hue-purple' %}</a>
            <a class="hue-fuchsia px-2 py-1">{% svg 'hue-fuchsia' %}</a>
            <a class="hue-pink px-2 py-1">{% svg 'hue-pink' %}</a>
            <a class="hue-rose px-2 pt-1 pb-2">{% svg 'hue-rose' %}</a>
        </div>
      </div>

      <div class="relative group flex flex-col justify-center items-center">
        <a class="burger tablet:hidden p-2 rounded-md" tabindex="0">
          {% svg 'burger' %}
        </a>
      </div>

    </div>
  </nav>
</header>