{% load svg %}
<header class="fixed top-0 z-10 w-screen bg-backgrund">
  <nav class="flex justify-between items-start h-20">
    <div class="pl-6 w-48 my-auto">
      <a href="{% url 'main:main' %}" class="font-heading text-2xl text-text">
        aldenluth.fi
      </a>
    </div>

    <div class="hidden w-screen tablet:flex justify-center font-body text-sm text-text my-auto">
      <ul class="tablet:grid gap-6 grid-cols-3">
        <li
          class="py-2 px-3 rounded-md bg-buttons-default hover:shadow-lg active:shadow-md hover:bg-buttons-hover active:bg-buttons-active text-buttons-text duration-200 ease-in-out clickable">
          <a href="" tabindex="0">Projects</a>
        </li>
        <li
          class="py-2 px-3 rounded-md bg-buttons-default hover:shadow-lg active:shadow-md hover:bg-buttons-hover active:bg-buttons-active text-buttons-text duration-200 ease-in-out clickable">
          <a href="" tabindex="0">Writings</a>
        </li>
        <li
          class="py-2 px-3 rounded-md bg-buttons-default hover:shadow-lg active:shadow-md hover:bg-buttons-hover active:bg-buttons-active text-buttons-text duration-200 ease-in-out clickable">
          <a href="" tabindex="0">Contacts</a>
        </li>
      </ul>
    </div>

    <div class="flex pr-6 w-48 my-auto justify-end">
      <div class="relative group flex flex-col justify-center items-center">
        <a class="language p-2 rounded-t-md delay-100 max-desktop:focus:delay-0 max-desktop:focus:bg-card-background max-desktop:focus:shadow-md desktop:group-hover:bg-card-background desktop:group-hover:delay-0 desktop:group-hover:shadow-md" tabindex="0">
          {% svg 'language' %}
        </a>

        <div class="languaege-selector h-0 peer-focus:h-54 focus:h-54 desktop:peer-hover:h-54 desktop:hover:h-54 absolute top-9 duration-100 flex flex-col space-y-1 items-center bg-card-background rounded-b-md overflow-auto no-scrollbar m-2 shadow-md">

        </div>
      </div>

      <div class="relative group/hue flex flex-col justify-center items-center">
        <a class="mode-toggle p-2 peer/toggle rounded-t-md delay-100 duration-100 max-desktop:focus:delay-0 max-desktop:focus:bg-card-background max-desktop:focus:shadow-md desktop:hover:bg-card-background desktop:hover:delay-0 desktop:hover:shadow-md desktop:group-hover/hue:bg-card-background desktop:group-hover/hue:delay-0 desktop:group-hover/hue:shadow-md" tabindex="0">
          {% svg 'moon' %}
          {% svg 'sun' %}
        </a>

        <div class="hue-selector h-0 max-desktop:peer-focus/toggle:h-58 max-desktop:focus:h-58 desktop:group-hover/hue:h-58 desktop:hover:h-58 absolute top-8 duration-100 flex flex-col space-y-2 items-center bg-card-background rounded-b-md overflow-auto no-scrollbar m-2 shadow-md">
            <a class="hue-neutral px-2 pt-2" tabindex="0">{% svg 'hue-neutral' %}</a>
            <a class="hue-red" tabindex="0">{% svg 'hue-red' %}</a>
            <a class="hue-orange" tabindex="0">{% svg 'hue-orange' %}</a>
            <a class="hue-amber" tabindex="0">{% svg 'hue-amber' %}</a>
            <a class="hue-yellow" tabindex="0">{% svg 'hue-yellow' %}</a>
            <a class="hue-lime" tabindex="0">{% svg 'hue-lime' %}</a>
            <a class="hue-green" tabindex="0">{% svg 'hue-green' %}</a>
            <a class="hue-emerald" tabindex="0">{% svg 'hue-emerald' %}</a>
            <a class="hue-teal" tabindex="0">{% svg 'hue-teal' %}</a>
            <a class="hue-cyan" tabindex="0">{% svg 'hue-cyan' %}</a>
            <a class="hue-sky" tabindex="0">{% svg 'hue-sky' %}</a>
            <a class="hue-blue" tabindex="0">{% svg 'hue-blue' %}</a>
            <a class="hue-indigo" tabindex="0">{% svg 'hue-indigo' %}</a>
            <a class="hue-violet" tabindex="0">{% svg 'hue-violet' %}</a>
            <a class="hue-purple" tabindex="0">{% svg 'hue-purple' %}</a>
            <a class="hue-fuchsia" tabindex="0">{% svg 'hue-fuchsia' %}</a>
            <a class="hue-pink" tabindex="0">{% svg 'hue-pink' %}</a>
            <a class="hue-rose pb-2" tabindex="0">{% svg 'hue-rose' %}</a>
        </div>
      </div>

      <div class="relative group flex flex-col justify-center items-center">
        <a class="burger tablet:hidden p-2 rounded-md" tabindex="0">
          {% svg 'burger' %}
        </a>
      </div>

    </div>
  </nav>
</header>