<header class="fixed top-0 z-50 w-screen bg-bg-primary shadow-md">
  <nav class="flex justify-between items-center h-20">
    <div class="pl-6 w-48">
      <a href="{% url 'main:main' %}" class="font-heading text-2xl text-text">
        aldenluth.fi
      </a>
    </div>

    <div class="hidden tablet:grid font-body text-sm text-text">
      <ul class="tablet:grid gap-6 grid-cols-3">
        <li>
          <a href="">Projects</a>
        </li>
        <li>
          <a href="">Writings</a>
        </li>
        <li>
          <a href="">Contacts</a>
        </li>
      </ul>
    </div>

    <div class="flex space-x-2 justify-end items-center pr-6 w-48">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="fill-transparent stroke-text stroke-1" width="30" height="30"
          viewBox="-1 -1 25 25" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M4 5h7" />
          <path d="M9 3v2c0 4.418 -2.239 8 -5 8" />
          <path d="M5 9c0 2.144 2.952 3.908 6.7 4" />
          <path d="M12 20l4 -9l4 9" />
          <path d="M19.1 18h-6.2" />
        </svg>
      </div>

      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="fill-transparent stroke-text stroke-1" width="30" height="30"
          viewBox="-1 -1 25 25" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" />
        </svg>
      </div>

      <div class="tablet:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="fill-transparent stroke-text stroke-1" width="35" height="35"
          viewBox="-1 -1 25 25" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M4 6l16 0" />
          <path d="M4 12l16 0" />
          <path d="M4 18l16 0" />
        </svg>
      </div>
    </div>
  </nav>
</header>