@font-face {
    font-family: 'heading';
    src: url('../../../static/fonts/GreycliffCF-Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'heading-italic';
    src: url('../../../static/fonts/GreycliffCF-HeavyOblique.otf') format('opentype');
}

@font-face {
    font-family: 'body';
    src: url('../../../static/fonts/CartographCF-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'body-bold';
    src: url('../../../static/fonts/CartographCF-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'body-italic';
    src: url('../../../static/fonts/CartographCF-RegularItalic.otf') format('opentype');
}

@font-face {
    font-family: 'body-bold-italic';
    src: url('../../../static/fonts/CartographCF-BoldItalic.otf') format('opentype');
}


@font-face {
    font-family: 'code';
    src: url('../../../static/fonts/FiraCode-Retina.ttf') format('truetype');
}

:root {
  --light: #fff4d7;
  --dark: #202020;
  --transparent: rgba(255, 255, 255, 0);
}

*,
*:before,
*:after,
a,
button {
  @apply cursor-none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;